/* Background */

.body {
  background-image: url("../components/images/background.png");
  background-repeat: repeat;
  background-size: 100%;
}

header {
  background-image: url("../components/images/headerbackground.png");
  background-repeat: repeat;
  background-size: 100%;
  overflow-x: hidden;
}

/* Header */
.header {
  display: flex;
  position: relative;
  justify-content: flex-end;
  overflow: hidden;
  width: 100vw;
  height: 650px;
  z-index: 1;
}

.phonenav {
  position: absolute;
  width: 100%;
  height: 70px;
  right: 0;
  background-color: #102c57;
  visibility: hidden;
}

.triangle {
  --r: 15px;
  width: 650px;
  aspect-ratio: 1;
  border-top-right-radius: var(--r);
  clip-path: polygon(100% 100%, 0 0, 100% 0);
  --_g: calc(50%*(1 + 1/tan(22.5deg)) - var(--r)/(3*sqrt(2) - 4));
  --_r: calc(var(--r)/tan(22.5deg)), #000 98%, #0000 101%;
  background: #102c57;
  margin-top: -15px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.logo {
  position: relative;
  height: 250px;
  width: 250px;
  z-index: 2;
  top: -30px;
  left: -30px;
}

.logo:first-child {
  margin-right: auto;
}

.signature {
  position: absolute;
  top: -20px;
  right: -80px;
  z-index: 3;
}

.navbar {
  position: relative;
  top: 0;
  right: 0;
  padding-top: 20px;
  z-index: 3;
}

.navbar a {
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navbar a:hover {
  color: #DAC0A3;
}

/* Body */
.section {
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
}

.section.first {
  height: 600px;
}

.headshot {
  height: 400px;
  width: 800px;
  border-radius: 50%;
  transform: rotate(-30deg);
  z-index: 3;
  position: absolute;
  top: 65%;
  left: 40%;
  background: transparent;
  overflow: hidden;
  border: 5px solid #102c57;
}

.headshot::before {
  content: "";
  height: 200%;
  width: 250%;
  position: absolute;
  background-image: url("../components/images/headshot.jpg");
  transform: rotate(30deg);
  background-size: 40%;
  background-position: left;
  background-position-y: 7px;
}

.arrow {
  background-image: url("../components/images/shapes/arrow.svg");
  background-repeat: no-repeat;
  transform: scale(1.6);
  position: absolute;
  height: 130px;
  width: 565px;
  left: 15%;
  top: 35%;
}

.arrow h2 {
  color: white;
  font-size: 34pt;
  position: relative;
  left: 25%;
  top: -10%;
}

.csuslogo {
  position: relative;
  border-radius: 50%;
  border: 7px solid #102c57;
  height: 300px;
  width: 300px;
  left: 65%;
  top: 40%;
}

.csuslogo img {
  position: relative;
  border-radius: 50%;
}

.csuslogo:hover {
  animation: heartBeat;
  animation-duration: 5s;
  animation-timing-function: 2s;
}

.section.second {
  height: 650px;
}

.star-8 {
  background-image: url("../components/images/shapes/8-star.svg");
  background-repeat: no-repeat;
  transform: scale(1.4);
  position: absolute;
  height: 490px;
  width: 490px;
  left: 10%;
  top: 135%;
}

.star-8 p {
  color: white;
  font-size: 13pt;
  width: 350px;
  position: relative;
  text-align: center;
  left: 14%;
  top: 25%;
}

.section.third {
  height: 1000px;
}

.blob {
  background-image: url("../components/images/shapes/blob.svg");
  background-repeat: no-repeat;
  height: 540px;
  width: 540px;
  transform: scale(1.5);
  position: absolute;
  left: 5%;
  top: 220%;
}

.blob h3 {
  color: white;
  font-size: 28pt;
  position: relative;
  left: 30%;
  top: 35%;
}

.arrow-1 {
  background-image: url("../components/images/shapes/arrow1.svg");
  background-repeat: no-repeat;
  height: 350px;
  width: 350px;
  position: absolute;
  transform: scale(1.3);
  top: 285%;
  left: 25%;
}

.starburst {
  background-image: url("../components/images/shapes/starburst.svg");
  background-repeat: no-repeat;
  transform: scale(1.4);
  position: absolute;
  height: 600px;
  width: 600px;
  left: 58%;
  top: 280%;
}

.starburst p {
  color: white;
  font-size: 15pt;
  width: 350px;
  position: relative;
  text-align: center;
  left: 20%;
  top: 22.5%;
}

.starburst a {
  text-decoration-color: #DAC0A3;
  color: #DAC0A3
}

.section.fourth {
  height: 800px;
}

.spbubble {
  background-image: url("../components/images/shapes/bubble.svg");
  background-repeat: no-repeat;
  height: 530px;
  width: 600px;
  transform: scale(1.4);
  position: absolute;
  display: grid;
  left: 10%;
  top: 350%;
}

.contactform button {
  position: relative;
  left: -10%;
}

.contactform {
  position: relative;
  transform: scale(0.75);
  top: 16%;
  left: 1%;
}

.contactform label {
  position: relative;
  color: white;
  text-align: center;
  font-weight: bold;
  display: block;
}

.contactform input[type=text],
.contactform input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid grey;
}

.contactform textarea[type=text] {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid grey;
  resize: none;
}

.contactform input[type=text]:focus,
.contactform input[type=email]:focus,
.contactform textarea[type=text]:focus {
  background-color: #EADBC8;
}

.contactform button {
  padding: 15px;
  margin: 10px 170px;
  border-radius: 5px;
  left: 1%;
  width: 250px;
}

.contactform button:hover {
  color: white;
  background-color: #DAC0A3;
}

.recaptcha {
  position: relative;
  left: 25%;
}

.section.fifth {
  height: 600px;
}

.circle {
  background-color: #DAC0A3;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 5px solid #102C57;
  box-shadow: 5px 10px #88888862;
  cursor: pointer;
}

.circle.projects {
  position: absolute;
  display: flex;
  top: 420%;
  left: 50%;
  transition: transform 1000ms;
}

.circle.resume {
  position: absolute;
  display: flex;
  top: 450%;
  left: 75%;
  transition: transform 1000ms;
}

.circle.projects h3 {
  position: relative;
  color: white;
  font-size: 35px;
  text-align: center;
  align-content: center;
  left: 25%;
  transition: transform 1000ms;
}

.circle.projects:hover,
.circle.projects:focus-visible {
  transform: translate(-0.5rem, -0.5rem);
  transition: transform 500ms;
  box-shadow: 15px 20px #8888888a
}

.circle.resume h3 {
  position: relative;
  color: white;
  font-size: 35px;
  text-align: center;
  align-content: center;
  left: 25%;
}

.circle.resume:hover,
.circle.resume:focus-visible {
  transform: translate(-0.5rem, -0.5rem);
  transition: transform 500ms;
  box-shadow: 15px 20px #8888888a
}

/* Footer */
.footer {
  display: flex;
  position: relative;
  color: white;
  top: 10px;
  right: 10px;
  justify-content: flex-end;
}

.footer a {
  text-decoration-color: #DAC0A3;
  color: #DAC0A3;
}

.triangle-bottom {
  --r: 15px;
  width: 650px;
  aspect-ratio: 1;
  border-top-right-radius: var(--r);
  clip-path: polygon(100% 100%, 0 0, 100% 0);
  --_g: calc(50%*(1 + 1/tan(22.5deg)) - var(--r)/(3*sqrt(2) - 4));
  --_r: calc(var(--r)/tan(22.5deg)), #000 98%, #0000 101%;
  background: #102c57;
  position: relative;
  bottom: 910%;
  z-index: 2;
  transform: rotate(180deg);
}

/* Responsive Design */
@media screen and (max-width: 1750px) {
  .starburst {
    transform: scale(1.1);
  }
  
  .signature {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 1500px) {
  .headshot {
    left: 30%;
  }

  .arrow-1 {
    transform: scale(0.8);
    left: 12%;
  }

  .starburst {
    left: 46%;
  }

  .spbubble {
    transform: scale(1.2);
  }

  .circle.projects {
    transform: scale(0.8);
    top: 410%;
    left: 45%;
  }

  .circle.resume {
    transform: scale(0.8);
    top: 430%;
  }
}

@media screen and (max-width: 1250px) {
  .arrow {
    transform: scale(1.2);
    top: 45%;
    left: 10%;
  }

  .headshot {
    top: 72%;
    left: 12%;
  }

  .star-8 {
    transform: scale(1.2);
  }

  .starburst {
    left: 35%;
  }

  .arrow-1 {
    left: 2%;
    transform: rotate(30deg);
  }

  .spbubble {
    top: 365%;
  }

  .circle.projects {
    top: 435%;
    left: 35%;
  }

  .circle.resume {
    top: 455%;
    left: 65%;
  }
}

@media screen and (max-width: 1000px) {

  .body {
    overflow: hidden;
  }

  .logo {
    display: none;
  }

  .phonenav {
    visibility: visible;
  }

  .triangle {
    display: none;
  }
  
  .logo {
    position: relative;
    height: 115px;
    width: 115px;
    z-index: 3;
    top: -23px;
    left: -5px;
  }

  .signature {
    display: none;
  }
  
  .triangle-bottom {
    display: none;
  }

  .arrow {
    transform: scale(1.1);
    left: 21%;
    top: 25%;
  }

  .arrow h2 {
    max-width: 325px;
  }
  
  .headshot {
    transform: scale(0.75) rotate(-30deg);
    left: 0%;
    top: 50%;
  }

  .star-8 {
    top: 105%;
    left: 28%;
  }

  .csuslogo {
    left: 25%;
    top: 45%;
  }

  .blob {
    transform: scale(1.1);
    top: 220%;
    left: 24%;
  }

  .blob h3 {
    max-width: 325px;
  }

  .recaptcha {
    max-width: 325px;
  }

  .arrow-1 {
    display: none;
  }

  .starburst {
    left: 5%;
    transform: scale(1);
  }

  .spbubble {
    transform: scale(1);
    left: 18%;
    top: 350%;
  }

  .circle.projects {
    top: 425%;
    left: 10%;
  }

  .circle.resume {
    top: 439%;
    left: 55%;
  }
}

@media screen and (max-width: 750px) {

  .navbar a {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5px;
    margin-left: 5px;
  } 

  .arrow {
    transform: scale(0.8);
    left: 0%;
    top: 20%;
  }

  .headshot {
    transform: scale(0.5) rotate(-30deg);
    top: 35%;
    left: 0%;
  }

  .star-8 {
    transform: scale(0.7);
    top: 70%;
    left: 0%;
  }

  .csuslogo {
    display: none;
  }

  .blob {
    transform: scale(0.8);
    top: 115%;
    left: 20%;
  }

  .starburst {
    transform: scale(0.6);
    top: 155%;
    left: -5%;
  }

  .spbubble {
    transform: scale(0.6);
    left: 10%;
    top: 200%;
  }

  .circle.projects {
    transform: scale(0.5);
    top: 250%;
  }
  .circle.resume {
    transform: scale(0.5);
    top: 265%;
    left: 45%;
  }

  .section.fourth {
    height: 0;
  }

  .section.fifth {
    height: 0;
  }
}

@media screen and (max-width: 625px) {
  .arrow {
    left: -5%;
  }

  .headshot {
    top: 35%;
    left: -25%;
  }
  
  .blob {
    top: 115%;
    left: 0%;
  }

  .spbubble {
    left: -10%;
  }

  .circle.projects {
    left: 0%;
  }
  
  .circle.resume {
    left: 35%;
  }
}

@media screen and (max-width: 500px) {

  .arrow {
    transform: scale(0.6);
    left: -15%;
    top: 20%;
  }

  .headshot {
    transform: scale(0.4) rotate(-30deg);
    top: 35%;
    left: -30%;
  }

  .star-8 {
    transform: scale(0.6);
    top: 70%;
    left: 0%;
  }

  .blob {
    transform: scale(0.6);
    left: -12%;
  }

  .starburst {
    transform: scale(0.5);
    left: -15%;
  }

  .spbubble {
    transform: scale(0.5);
    left: -20%;
  }

  .circle.projects {
    left: -10%;
  }

  .circle.resume {
    left: 25%;
  }

}

@media screen and (max-width: 450px) {
  .headshot {
    left: -45%;
  }
  
}

@media screen and (max-width: 400px) {

  .arrow {
    left: -22%;
  }

  .headshot {
    left: -54%;
  }

  .star-8 {
    left: -15%;
  }

  .blob {
    left: -28%;
  }

  .starburst {
    left: -30%;
  }

  .spbubble {
    left: -30%;
  }

  .circle.projects {
    left: -20%;
  }

  .circle.resume {
    left: 20%;
  }
}

@media screen and (max-width: 375px) {
  .arrow {
    left: -30%;
  }

  .headshot {
    left: -67%;
  }

  .navbar a {
    font-size: 12pt;
  } 
}

@media screen and (max-width: 350px) {

  .footer {
    display: none;
  }

  .navbar a {
    font-size: 10pt;
  } 

  .arrow {
    transform: scale(0.5);
    left: -35%;
  }

  .headshot {
    transform: scale(0.35) rotate(-30deg);
    left: -65%;
  }

  .star-8 {
    left: -25%;
  }

  .blob {
    left: -35%;
  }

  .starburst {
    left: -40%;
  }
  
  .spbubble {
    left: -40%;
  }

  .circle.projects {
    transform: scale(0.4);
  }

  .circle.resume {
    transform: scale(0.4);
  }
}

@media screen and (max-width: 325px) {
  * { border: 1px solid red !important; }
}

@media screen and (max-width: 300px) {
  * { border: 1px solid red !important; }
}