/* Responsive Design */
@media screen and (max-width: 1750px) {
  .starburst {
    transform: scale(1.1);
  }
  
  .signature {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 1500px) {
  .headshot {
    left: 30%;
  }

  .arrow-1 {
    transform: scale(0.8);
    left: 12%;
  }

  .starburst {
    left: 46%;
  }

  .spbubble {
    transform: scale(1.2);
  }

  .circle.projects {
    transform: scale(0.8);
    top: 410%;
    left: 45%;
  }

  .circle.resume {
    transform: scale(0.8);
    top: 430%;
  }
}

@media screen and (max-width: 1250px) {
  .arrow {
    transform: scale(1.2);
    top: 45%;
    left: 10%;
  }

  .headshot {
    top: 72%;
    left: 12%;
  }

  .star-8 {
    transform: scale(1.2);
  }

  .starburst {
    left: 35%;
  }

  .arrow-1 {
    left: 2%;
    transform: rotate(30deg);
  }

  .spbubble {
    top: 365%;
  }

  .circle.projects {
    top: 435%;
    left: 35%;
  }

  .circle.resume {
    top: 455%;
    left: 65%;
  }
}

@media screen and (max-width: 1000px) {

  .body {
    overflow: hidden;
  }

  .logo {
    display: none;
  }

  .phonenav {
    visibility: visible;
  }

  .triangle {
    display: none;
  }
  
  .logo {
    position: relative;
    height: 115px;
    width: 115px;
    z-index: 3;
    top: -23px;
    left: -5px;
  }

  .signature {
    display: none;
  }
  
  .triangle-bottom {
    display: none;
  }

  .arrow {
    transform: scale(1.1);
    left: 21%;
    top: 25%;
  }

  .arrow h2 {
    max-width: 325px;
  }
  
  .headshot {
    transform: scale(0.75) rotate(-30deg);
    left: 0%;
    top: 50%;
  }

  .star-8 {
    top: 105%;
    left: 28%;
  }

  .csuslogo {
    left: 25%;
    top: 45%;
  }

  .blob {
    transform: scale(1.1);
    top: 220%;
    left: 24%;
  }

  .blob h3 {
    max-width: 325px;
  }

  .recaptcha {
    max-width: 325px;
  }

  .arrow-1 {
    display: none;
  }

  .starburst {
    left: 5%;
    transform: scale(1);
  }

  .spbubble {
    transform: scale(1);
    left: 18%;
    top: 350%;
  }

  .circle.projects {
    top: 425%;
    left: 10%;
  }

  .circle.resume {
    top: 439%;
    left: 55%;
  }

}

@media screen and (max-width: 750px) {
  * { border: 1px solid red !important; }

  .navbar a {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5px;
    margin-left: 5px;
  } 

  .arrow {
    transform: scale(0.6);
    left: -24%;
    top: 20%;
  }

  .headshot {
    transform: scale(0.5) rotate(-30deg);
    top: 35%;
    left: -52.5%;
  }

  .star-8 {
    transform: scale(0.5);
    top: 65%;
    left: 0%;
  }

  .csuslogo {
    transform: scale(0.5);
    left: 50%;
    top: 80%;
  }

  .blob {
    transform: scale(0.5);
    top: 115%;
    left: 0%;
  }

  .starburst {
    transform: scale(0.5);
    top: 145%;
    left: 0%;
  }

  .spbubble {
    transform: scale(0.5);
    left: 0%;
    top: 180%;
  }

  .circle.projects {
    transform: scale(0.5);
    top: 210%;
  }
  .circle.resume {
    transform: scale(0.5);
    top: 225%;
    left: 25%;
  }
}

@media screen and (max-width: 350px) {
  
}