.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
}

h2 {
  text-decoration: underline;
}

.content {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
  min-height: 1500px;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: end;
}

.footer a, .footer p {
  background-color: #f1f1f1;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  display: block;
  background-color: #333;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin-right: 50px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.row {
  padding-top: 50px;
}

.column {
  float: left;
  padding: 10px;
}

.column.qtr {
  width: 25%;
  height: fit-content;
}

.column.hlf {
  width: 50%;
  height: fit-content;
}

.column.thrd {
  width: 33%;
  height: fit-content;
}

.column.twthrd {
  width: 66%;
  height: fit-content;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.resume {
  width: 850px;
  height: 1000px;
}

.contactform input[type=text], .contactform input[type=email]{
  width: 55%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid grey;
}

.contactform textarea[type=text]{
  width: 55%;
  height: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid grey;
  resize: none;

}

.contactform button{
  padding: 15px;
  margin: 10px 50px;
  border-radius: 5px;
}

.contactform button:hover {
  color: white;
  background-color: #333;
}

.contactform label {
  display: block;
  font-weight: bold;
}

.contactform input[type=text]:focus, .contactform input[type=email]:focus, .contactform textarea[type=text]:focus{
  background-color: lightblue;
}

.demobtn {
  margin-top: 100px;
}

.demobtn a {
  text-decoration: none;
  color: #333;
  padding: 15px;
  border: 2px solid black;
  border-radius: 50px;
}

.demobtn a:hover {
  color: white;
  background-color: #333;
}

.projnav button {
  padding: 15px;
  margin: 10px 50px;
  border-radius: 5px;
}

.projnav button:hover {
  color: white;
  background-color: #333;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .column.qtr, .column.hlf, .column.thrd, .column.twthrd {
    width: 100%;
  }
}