/*Formatting */
* {
  box-sizing: border-box;
  font-family: Verdana;
}

header {
  margin: 0px;
  z-index: 1;
}

body {
  margin: 0px;
}

footer {
  margin: 0px;
  height: 70px;
  background-color: #102C57;
  z-index: 1;
}

.box2 {
  background-color: yellow;
  height: 150px;
  width: 150px;
}


